server:
  port: 9001
spring:
  kafka:
    consumer:
      bootstarp-servers: localhost:9092
      group-id: "my_group_id"
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      bootstarp-servers: locahost:9092
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
  data:
    mongodb:
      username: admin
      password: admin
      database: patients
      authentication-database: admin
      host: localhost
      port: 27017
      auto-index-creation: true
  application:
    name: patient-service
  security:
    user:
      name: name
      password: name

eureka:
  instance:
    appname: patient-service
  client:
    fetchRegistry: false
    register-with-eureka: false
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
      instance:
        preferIpAddress: true
springdoc:
  api-docs:
    enabled: true
    path: /v2/api-docs
  swagger-ui:
    path: /swagger-ui
springfox:
  documentation:
    swagger:
      v2:
        host: localhost:9001